In [1]:
import pandas as pd
import numpy as np
from scipy import stats as st
import seaborn as sns

In [2]:
l=[150,151,152,150,153,154,155,154]

In [5]:
print(np.mean(l))
print(np.median(l))
print(st.mode(l))

152.375
152.5
ModeResult(mode=array([150]), count=array([2]))

- Find out the average and median of petal length of each species in iris data

In [7]:
df=sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
df.groupby(["species"])["petal_length"].mean()

species
setosa        1.462
versicolor    4.260
virginica     5.552
Name: petal_length, dtype: float64

In [9]:
df.groupby(["species"])["petal_length"].median()

species
setosa        1.50
versicolor    4.35
virginica     5.55
Name: petal_length, dtype: float64

In [10]:
np.mean(df["petal_length"])

3.7580000000000027

In [11]:
np.median(df["petal_length"])

4.35